# Игнорировать системные файлы macOS и Windows
.DS_Store
Thumbs.db
desktop.ini

# Игнорировать временные и резервные копии
*.tmp
*.temp
*.bak
*.swp
*.swo

# Игнорировать файлы локальных настроек
*.log

# Игнорировать все CSV-файлы в корне, кроме тех, которые находятся в папке datascn.tac
/*.csv
